@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
}


/*
    LOGO
*/

.logo {
    position: relative;
    width: 150px;
    height: 75px;
    margin-left: 30px;
    margin-right: 45px;
    text-align: center;
    align-items: center;
    font-family: 'Dancing Script';
    font-weight: 800;
}

.logo a {
    font-size: 30px;
    color: #2d3436;
    text-decoration: none;
}


/*
    NAV
*/

.nav-forms {
    margin-left: 30px;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-login ul {
    position: relative;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    width: auto;
    height: auto;
    border: none;
}

.nav-link-login ul li {
    position: relative;
    width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #2d3436;
    border: none;
}

.nav-link-login ul li a {
    color: #b2bec3;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
}


#link-cad {
    width: 200px;
    margin-right: 15px;
}

.search-text {
    width: 700px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search-text {
    width: 675px;
    background-color: #ffff;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    outline: none;
}



.fa-magnifying-glass {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: #2d3436;
}

.fa-cart-shopping {
    margin-left: 10px;
    font-size: 35px;
    color: #2d3436;
}

.top-bar {
    width: 100%;
    height: 25px;
    display: flex;
    background-color: #71c5ee;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-family: 'Lato';
}

.redirect-nav-top::before {
    position: absolute;
    justify-content:center;
    display: block;
    margin: 0 auto;
    bottom: 1px;
    content: '';
    width: 0px;
    height: 2px;
    background-color: #2d3436;
    transition: 0.4s;
}

.redirect-nav-top:hover::before{
    position: absolute;
    bottom: 1px;
    content: '';
    width: 1%;
    height: 2px;
    background-color: #2d3436;
}

.middle-bar {
    width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.input-bar {
    display: flex;
    position: relative;
    left: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.input-bar a {
    display: block;
    line-height: 40px;
    position: relative;
    left: -40px;
    justify-content: center;
    align-items: center;
}

.footer-bar {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bar nav {
    width: 100%;
    height: 100%;

}

.footer-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    background-color: #71c5ee;
    height: 100%;
}

.footer-bar ul li {
    width: 130px;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-bar ul li a {
    display: block;
    flex-direction: center;
    color: #f5f5f5;
    font-family: 'Lato';
    text-decoration: none;
    text-align: center;
    transition: 0.4s;
}

.footer-bar ul li a::before{
    position: absolute;
    justify-content:center;
    display: block;
    margin: 0 auto;
    bottom: 1px;
    content: '';
    width: 0px;
    height: 2px;
    background-color: #f5f5f5;
    transition: 0.4s;
}

.footer-bar ul li a:hover::before{
    position: absolute;
    bottom: 1px;
    content: '';
    width: 1%;
    height: 2px;
    background-color: #f5f5f5;
}