@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}


/*
    LOGO
*/

.logo {
    position: relative;
    width: 120px;
    height: 75px;
    margin-left: 30px;
    margin-right: 45px;
    text-align: center;
    align-items: center;
    font-family: 'Dancing Script';
    font-weight: 800;
}

.logo a {
    font-size: 30px;
    color: #2d3436;
    text-decoration: none;
}

/*
    FIM LOGO
*/

/*
    NAV
*/

.nav-forms {
    position: relative;
    width: 480px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-login {
    display: flex;
}

.nav-link-login table {
    position: relative;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    width: auto;
    height: auto;
    border: 1px solid;
}

.nav-link-login table tr {
    position: relative;
    width: 180px;
    height: 50;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #2d3436;
    border: 1px solid;
}
.nav-link-login table tr td {
    border: 1px solid;
}

.nav-link-login table tr #login {
    width: 70px;

}

.nav-link-login tr td a {
    color: #b2bec3;
    text-decoration: none;
    font-weight: 600;

    width: 80px;
}

.nav-link-login tr td a:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #2d3436;
    left: 0;
    bottom: -2px;
    transition: 0.4s;
}

.nav-link-login tr td a:hover::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #2d3436;
    left: 0;
    bottom: -2px;
}

#link-clique {
    width: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text {
    width: 680px;
    background-color: #ffff;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    outline: none;
}



.fa-magnifying-glass {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: #2d3436;
}

.fa-cart-shopping {
    margin-left: 30px;
    font-size: 35px;
    color: #2d3436;
}

.middle-bar {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
}

.input-bar {
    display: flex;
    position: relative;
    left: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.input-bar a {
    display: block;
    line-height: 40px;
    position: relative;
    left: -40px;
    justify-content: center;
    align-items: center;
}

.footer-bar {
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bar nav {
    width: 100%;
    height: 100%;

}

.footer-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;

    height: 100%;
}

.footer-bar ul li {
    width: 130px;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-bar ul li a {
    display: block;
    flex-direction: center;
    color: #2d3436;
    font-family: 'Lato';
    text-decoration: none;
    text-align: center;
    transition: 0.4s;
    font-size: 0.9rem;
}

.footer-bar ul li a::before {
    position: absolute;
    justify-content: center;
    display: block;
    margin: 0 auto;
    bottom: 2.8px;
    content: '';
    width: 0px;
    height: 2px;
    background-color: #2d3436;
    transition: 0.4s;
}

.footer-bar ul li a:hover::before {
    position: absolute;
    bottom: 2.8px;
    content: '';
    width: 1%;
    height: 2px;
    background-color: #2d3436
}

/*
    MAIN
*/

main {
    position: absolute;
    top: 125px;
    width: 100%;
    background-color: #71c5ee;
    height: auto;
}


.menu-itens {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container-exibicao {
    width: 100%;
    height: 90vh;
    background-color: brown;
    overflow: hidden;
}

.container-exibicao a {
    text-decoration: none;
}

.main-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url(/templates/image/whey-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.shadow {
    text-decoration: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-screen {
    font-size: 2em;
    font-weight: 800;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;

}

.shadow p {
    font-size: 1em;
    font-weight: 800;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: left;
    margin-bottom: 15px;

}

.shadow-sub-container {
    position: absolute;
    height: auto;
    width: auto;
}

.shadow-sub-container input[type="text"] {
    width: 800px;
    height: 15px;
    padding: 28px 23px;
    font-size: 0.98rem;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #2d3436;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;

}

.shadow-sub-container input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 1);

}

#text-main {
    z-index: 999;
    position: absolute;

    color: #f5f5f5;
    font-size: 64px;

}

/* CONTAINER MAIN - CONTEUDOS E CARDS */

.container-main {
    width: 100%;
    height: 120vh;
    background-color: #b2bec3;
}

#icon-search-main{
    bottom: 18px;
    position: absolute;
    right: 1vw;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
